// Colors
$primary: #5845DD;
$primaryHover: rgb(12, 79, 187);
$secondary: #413C5F;
$secondaryLight: #87839F;
$cardBg: #817CA5;
$white: #fff;
$muted: #C0BCDF;
$mutedLight: #CECAEB;
$lightBg: #C9C5E8;
$textColor: #817CA5;
$borderColor: #c5c7c9;

$errorColor: #DA2121;
$disabledColor: #A39FC1;
$disabledText: #8B85B1;
// font
$baseFont: "Inter", sans-serif;